<ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
        <!-- MAIN CONTENT TABS + SIDECTNT-->
        <ion-side-menu-content>
            <ion-nav-bar class="bar-balanced">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <!-- TABS -->
            <ion-tabs class="tabs-stable tabs-icon-top tabs-bar">
                <ion-tab title="Camera Tab" icon="ion-android-camera" ui-sref="app.camera" class=" tab-camera">
                    <ion-nav-view name="tab-camera"></ion-nav-view>
                </ion-tab>
                <ion-tab title="Add Entry" icon="ion-plus-circled" ui-sref="app.newEntry" class=" tab-add-entry">
                    <ion-nav-view name="tab-newentry"></ion-nav-view>
                </ion-tab>
                <ion-tab title="Calendar" icon="ion-calendar" ui-sref="app.calendar" class=" tab-calendar">
                    <ion-nav-view name="tab-calendar"></ion-nav-view>
                </ion-tab>
            </ion-tabs>

            <!-- VIEWS FOR SIDE MENU CONTENT -->
            <ion-nav-view name="content"></ion-nav-view>


        </ion-side-menu-content>
        <!-- SIDE MENU-->
        <ion-side-menu side="left" style="background-color:#FFFFFF;">
            <ion-header-bar class="bar-balanced">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-left has-header">
                <ion-list data-componentid="list2">

                    <ion-item class="item-avatar energized  menu-item-profile" ui-sref="app.profile" menu-close="" data-componentid="list-item11">
                        <h2energized>Profile</h2energized>
                    </ion-item>

                    <ion-item class="item-icon-left energized  menu-item-settings" menu-close="" data-componentid="list-item13" ui-sref="app.settings">
                        <i class="icon ion-settings"></i>Settings
                    </ion-item>

                    <ion-item class="item-icon-left energized  menu-item-settings" menu-close="" data-componentid="list-item13" ui-sref="app.login">
                        <i class="icon ion-settings"></i>Login
                    </ion-item>
                    <ion-item class="item-icon-left energized  menu-item-settings" menu-close="" data-componentid="list-item13" ui-sref="app.register">
                        <i class="icon ion-settings"></i>Register
                    </ion-item>

                </ion-list>
            </ion-content>
        </ion-side-menu>

</ion-side-menus>