<ion-view title="New Entry" id="page3" style="background-color:#F4F4F4;" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="newEntryCtrl">
        <form id="newEntry-form1" class="list entry-form">

            <label class="item item-input entry-title" id="newEntry-input1" name="entry-title">
                <input type="text" placeholder="Title" ng-model="titleadded">
            </label>

            <label class="item item-input entry-entry" id="newEntry-input2" name="entry-entry">
                <input type="text" placeholder="How was your day?" ng-model="content">
            </label>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-icon-left calm  entry-song" id="newEntry-list-item2">
                <i class="icon ion-music-note"></i>Voice note</ion-item>

            <button ng-click="addEntry()">aaaadd</button>
        </form>
<!--        <a ui-sref="tabsController.calendar" id="newEntry-button1" style="border-radius:3px 3px 3px 3px;" class=" button button-calm  button-block entry-add-button">Write</a>
-->
<ul>
  <li ng-repeat="title in entries track by $index"> {{ title }}</li>
  <li ng-repeat="content in entries track by $index">{{ content }}</li>
</ul>

    </ion-content>
</ion-view>
