<ion-view title="Profile"class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card profile-avatar-card" id="profile-card23">
            <ion-item class="item-avatar energized  profile-avatar-list-item" id="profile-list-item15">
                <h2energized>Item</h2energized>
            </ion-item>
        </div>
        <ion-list id="profile-list4" class=" profile-list">
            <ion-item class="energized  ">Your Name</ion-item>
            <ion-item class="energized  ">187 until your birthday</ion-item>
            <ion-item class="energized  ">Entries count bla bla bla</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
